absl-py==0.12.0
ale-py==0.8.1
argon2-cffi==21.1.0
asgiref==3.4.1
astunparse==1.6.3
attrs==21.2.0
backcall==0.2.0
bleach==4.1.0
cachetools==4.2.4
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
clang==5.0
click==8.0.2
cloudpickle==2.2.1
Cython==0.29.36
debugpy==1.5.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
Django==3.2.6
dm-control==1.0.13
dm-env==1.6
dm-tree==0.1.8
entrypoints==0.3
fasteners==0.18
flatbuffers==1.12
future==0.18.2
gast==0.4.0
glfw==2.6.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.53.0
graphsurgeon @ file:///workspace/TensorRT-8.0.3.4/graphsurgeon/graphsurgeon-0.4.5-py2.py3-none-any.whl
grpcio==1.56.0
gunicorn==20.1.0
gym==0.26.2
gym-notices==0.0.8
h11==0.12.0
h5py==3.1.0
horovod @ file:///opt/tensorflow/horovod-source/dist/horovod-0.22.1.tar.gz
httptools==0.2.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.2
joblib==1.1.0
json5==0.9.6
jsonschema==4.0.1
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyter-tensorboard @ git+https://github.com/cliffwoolley/jupyter_tensorboard.git@ffa7e26138b82549453306e06b535a9ac36db17a
jupyterlab==2.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupytext==1.13.0
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
labmaze==1.0.6
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==1.1.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.3
mdit-py-plugins==0.2.8
metaworld @ git+https://github.com/rlworkgroup/metaworld.git@a0009ed9a208ff9864a5c1368c04c273bb20dd06
mistune==0.8.4
mock==3.0.5
mujoco==2.3.6
mujoco-py==2.0.2.8
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.4
notebook==6.4.3
numpy==1.19.5
nvidia-dali-cuda110==1.6.0
nvidia-dali-tf-plugin-cuda110==1.6.0
nvidia-dlprofviewer @ file:///opt/dlprof_viewer_install/nvidia_dlprofviewer-1.6.0-py3-none-any.whl
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==21.0
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==10.0.0
polygraphy==0.33.0
portpicker==1.3.1
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.19.6
psutil==5.7.0
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.10.0
PyOpenGL==3.1.7
pyparsing==3.1.0
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2021.3
PyYAML==5.4.1
pyzmq==22.3.0
regex==2021.10.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
scipy==1.10.1
Send2Trash==1.8.0
six==1.15.0
sqlparse==0.4.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow @ file:///tmp/pip/tensorflow-2.6.0%2Bnv-cp38-cp38-linux_x86_64.whl
tensorflow-addons @ file:///opt/tensorflow/tf-addons/artifacts/tensorflow_addons-0.13.1-cp38-cp38-linux_x86_64.whl
tensorflow-datasets==3.2.1
tensorflow-estimator==2.6.0
tensorflow-metadata==1.2.0
tensorflow-probability==0.14.1
tensorrt @ file:///workspace/TensorRT-8.0.3.4/python/tensorrt-8.0.3.4-cp38-none-linux_x86_64.whl
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
tftrt-model-converter==0.0.1
toml==0.10.2
tornado==6.1
tqdm==4.65.0
traitlets==5.1.0
typeguard==2.13.0
typing-extensions==3.7.4.3
uff @ file:///workspace/TensorRT-8.0.3.4/uff/uff-0.6.9-py2.py3-none-any.whl
urllib3==1.26.16
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.0
Werkzeug==2.3.6
whitenoise==5.3.0
wrapt==1.12.1
zipp==3.16.0
